@{
    Layout = null;
	var poco = UmbracoVault.Vault.Context.GetCurrent<ReferenceWebsite.Models.UComponentsDataTypeGridModel>();
}

<span>@poco.DataTypeGrid.Count items</span>
<table border=1>
	<tr>
		<th>TextString type</th>
	    @*<th>DatePicker type</th>*@
	    <td>ContentPicker (object map)</td>
	    <td>Checkbox List</td>
	    <td>MediaPicker</td>
        <td>Numeric</td>
	</tr>
	@foreach(var entry in poco.DataTypeGrid)
	{
		<tr>
			<td>@entry.TextString</td>
		    @*<td>@entry.DatePicker</td>*@
		    <td>@entry.ContentPicker</td>
		    <td>
		        @foreach (var item in @entry.CheckboxList)
		        {
		            @item<br/>
		        }
		    </td>
		    <td><img src="@entry.MediaPicker.Url" width="150" height="150"/></td>
            <td>@entry.Numeric</td>
		</tr>
	}
</table>
